<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark pt-0 pb-0">
    <div class="justify-content-center col-2 d-flex">
    </div>
    <div class="container ml-4">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup1">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Частным клиентам</a>
          <a class="nav-item nav-link active ml-4" hidden href="#">О компании</a>
          <a class="nav-item nav-link active ml-4" hidden href="#">Фирменные центры</a>
        </div>
      </div>
    </div>
    <div class="col-1">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">EN</a>
        <a class="nav-item nav-link active ml-2" href="#">RU</a>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-white" id="nav2">
    <div class="justify-content-center col-2 d-flex">
      <a class="navbar-brand" routerLink="/">
        <img src="/assets/img/company-logo.jpg" alt="logo" id="mainLogo" style="width: 125px">
      </a>
    </div>
    <div class="container ml-4">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" routerLink="/mobiletariff">Мобильные тарифы</a>
          <a class="nav-item nav-link active ml-4" routerLink="/internet">Домашний интернет</a>
        </div>
      </div>
    </div>
    <div class="col-2 pr-5">
      <div class="navbar-nav justify-content-around">
        <a href="#">
          <img src="/assets/img/search.svg" alt="user" style="height: 35px">
        </a>
        <a href="#">
          <img src="/assets/img/support.svg" alt="user" style="height: 35px">
        </a>
        <a href="#" hidden>
          <img src="/assets/img/cart.svg" alt="user" style="height: 35px">
        </a>
        <a href="#" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="/assets/img/user.svg" alt="user" style="height: 35px">
        </a>
        <div class="dropdown-menu" aria-labelledby="userDropdown">
          <button class="dropdown-item" data-toggle="modal" data-target="#modalLogin">Войти</button>
          <a class="dropdown-item" routerLink="/profile">Профиль</a>
          <a class="dropdown-item" routerLink="/requests">Заявки</a>
          <a class="dropdown-item" routerLink="/adminmenu">Управление</a>
          <a class="dropdown-item" href="#">Выйти</a>
        </div>
      </div>
    </div>
  </nav>
</header>

<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLoginlabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title text-muted" id="modalLoginlabel">Введите логин и пароль для входа</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="login">Логин</label>
          <input type="email" name="email" id="login" class="form-control input-sm" placeholder="Введите логин"
                 autocomplete="off">
        </div>
        <div class="form-group">
          <label for="password">Пароль</label>
          <input type="email" name="email" id="password" class="form-control input-sm" placeholder="Введите пароль"
                 autocomplete="off">
        </div>
        <div class="row container-fluid">
          <button type="submit" class="btn btn-main col" data-dismiss="modal">Войти</button>
          <button data-dismiss="modal" class="btn btn-link col pl-5" (click)="registerUser(4)">Зарегестрироваться</button>
        </div>
      </div>
    </div>
  </div>
</div>
