<app-navbar></app-navbar>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/adminmenu">Управление</a></li>
    <li class="breadcrumb-item active" aria-current="page">Конфигурация мобильных тарифов</li>
  </ol>
</nav>

<div class="container-fluid mt-3">
  <h4>Мобильные тарифы</h4>
</div>
<table class="table table-hover mt-3 mb-5">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Название</th>
    <th scope="col">Мобильный интернет (Гб.)</th>
    <th scope="col">Минуты в сети (мин.)</th>
    <th scope="col">Минуты вне сети (мин.)</th>
    <th scope="col">Описание</th>
    <th scope="col">Цена</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row"></th>
    <td>
      <div class="form-group">
        <input type="text" class="form-control" id="tariff" name="tariff" autocomplete="off" [(ngModel)]="newOffer.offer.name">
      </div>
    </td>
    <td>
      <div class="form-group">
        <select class="custom-select" id="internet1" name="internet1" [(ngModel)]="newOffer.mobileInternet">
          <option *ngFor="let offering of groupedOfferings.mobileInternet" [ngValue]="offering">{{offering.value}}</option>
        </select>
      </div>
    </td>
    <td>
      <div class="form-group">
        <select class="custom-select" id="minutesIn" name="minutesIn" [(ngModel)]="newOffer.mobileMinutesIn">
          <option *ngFor="let offering of groupedOfferings.mobileMinutesIn" [ngValue]="offering">{{offering.value}}</option>
        </select>
      </div>
    </td>
    <td>
      <div class="form-group">
        <select class="custom-select" id="minutesOut" name="minutesOut" [(ngModel)]="newOffer.mobileMinutesOut">
          <option *ngFor="let offering of groupedOfferings.mobileMinutesOut" [ngValue]="offering">{{offering.value}}</option>
        </select>
      </div>
    </td>
    <td>
      <div class="form-group">
        <textarea class="form-control" id="descr" aria-label="With textarea" name="descr" [(ngModel)]="newOffer.offer.description"></textarea>
      </div>
    </td>
    <td>
      <div class="form-group">
        <input type="text" class="form-control" id="price" name="price" [(ngModel)]="newOffer.offer.price" autocomplete="off">
      </div>
    </td>
    <td>
      <button class="btn btn-main" (click)="createOffer()">Создать</button>
    </td>
  </tr>
  <tr *ngFor="let offer of offers, let i = index" [ngClass]="{'text-muted' : offer.offer.offerStatus.id == '2'}">
    <th scope="row" [ngClass]="{'text-danger' : offer.offer.offerStatus.id == '2'}">{{i + 1}}</th>
    <td [ngClass]="{'text-danger' : offer.offer.offerStatus.id == '2'}">{{offer.offer.name}}</td>
    <td>
      <p class="d-inline">{{offer.mobileInternet.value}}&nbsp;</p>
      <p class="d-inline" *ngIf="offer.mobileInternet.valueMeasure.id != 4">{{offer.mobileInternet.valueMeasure.measurement}}</p>
    </td>
    <td>
      <p class="d-inline">{{offer.mobileMinutesIn.value}}&nbsp;</p>
      <p class="d-inline" *ngIf="offer.mobileMinutesIn.valueMeasure.id != 4">{{offer.mobileMinutesIn.valueMeasure.measurement}}</p>
    </td>
    <td>
      <p class="d-inline">{{offer.mobileMinutesOut.value}}&nbsp;</p>
      <p class="d-inline"   *ngIf="offer.mobileMinutesOut.valueMeasure.id != 4">{{offer.mobileMinutesOut.valueMeasure.measurement}}</p>
    </td>
    <td>{{offer.offer.description}}</td>
    <td>
      <p>{{offer.offer.price}} руб./мес.</p>
    </td>
    <td>
      <button class="btn btn-main"
              *ngIf="offer.offer.offerStatus.id == '2'" (click)="setOfferStatus(offer.offer.id, '1')">Разблокировать</button>
      <button class="btn btn-link"
              *ngIf="offer.offer.offerStatus.id == '1'" (click)="setOfferStatus(offer.offer.id, '2')">Заблокировать</button>
    </td>
  </tr>
  </tbody>
</table>

<app-social></app-social>
<app-footer></app-footer>
