<app-navbar></app-navbar>

<div class="container-fluid tariff-back pt-5">
  <div class="col-6 mt-5 pt-4">
    <div class="row justify-content-center mb-1">
      <h1 class="tariff-color text-white pb-2 pr-2 pl-2 pt-1">{{offer.offer.name}}</h1>
    </div>
    <div class="row justify-content-center">
      <p class="tariff-color text-white pr-2 pl-2 pt-1 pb-2">{{offer.offer.description}}</p>
    </div>
    <div class="row justify-content-center">
      <h4 class="tariff-color text-white pr-2 pl-2 pt-1 pb-2">{{offer.offer.price}} руб./мес. абонентская плата</h4>
    </div>
  </div>
</div>

<div class="container-fluid mt-3 justify-content-center d-flex">
  <h1>Тариф включает в себя</h1>
</div>
<section class="features-icons text-center">
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
          <img src="/assets/img/internet.svg" alt="Phone" class="icon-img">
          <br>
          <h3 class="color-main mt-2 d-inline">{{offer.mobileInternet.value}}&nbsp;</h3>
          <h3 class="color-main mt-2 d-inline"
              *ngIf="offer.mobileInternet.valueMeasure.id != 4">{{offer.mobileInternet.valueMeasure.measurement}}</h3>
          <p class="lead mb-0">интернета</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
          <img src="/assets/img/phone.svg" alt="Internet" class="icon-img">
          <br>
          <h3 class="color-main mt-2">{{offer.mobileMinutesIn.value}}&nbsp;</h3>
          <h3 class="color-main mt-2"
              *ngIf="offer.mobileMinutesIn.valueMeasure.id != 4">{{offer.mobileMinutesIn.valueMeasure.measurement}}</h3>
          <p class="lead mb-0">внутри сети</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mx-auto mb-0 mb-lg-3">
          <img src="/assets/img/other-network.svg" alt="Support" class="icon-img">
          <br>
          <h3 class="color-main mt-2 d-inline">{{offer.mobileMinutesOut.value}}&nbsp;</h3>
          <h3 class="color-main mt-2 d-inline"
              *ngIf="offer.mobileMinutesOut.valueMeasure.id != 4">{{offer.mobileMinutesOut.valueMeasure.measurement}}</h3>
          <p class="lead mb-0">в другие сети</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid justify-content-center d-flex">
  <button class="btn btn-main tariff-button mb-5" (click)="onConnectClicked()" routerLink="/mobile/submit">Подключить тариф</button>
</div>

<app-social></app-social>
<app-footer></app-footer>
