<app-navbar></app-navbar>

<div class="container-fluid mt-3 mb-5">
  <div class="container-fluid mt-3">
    <h4>Управление</h4>
  </div>
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th scope="col" *ngIf="currentUser.role.id == '1' || currentUser.role.id == '2'" >Управление пользователями</th>
      <th scope="col">Мобильные тарифы</th>
      <th scope="col">Интернет тарифы</th>
      <th scope="col">Предложения</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td *ngIf="currentUser.role.id == '1' || currentUser.role.id == '2'">
        <ul>
          <li class="btn-link" (click)="navigateToUsers(2)"
              *ngIf="currentUser.role.id == '1'">Администраторы</li>
          <li class="btn-link" (click)="navigateToUsers(3)"
              *ngIf="currentUser.role.id == '1' || currentUser.role.id == '2'">Работники</li>
          <li class="btn-link" (click)="navigateToUsers(4)"
              *ngIf="currentUser.role.id == '1' || currentUser.role.id == '2'">Клиенты</li>
        </ul>
      </td>
      <td>
        <button class="btn btn-link" routerLink="/order/configuration/mobile">Конфигурация мобильных тарифов</button>
      </td>
      <td>
        <button class="btn btn-link" routerLink="/order/configuration/internet">Конфигурация интернет тарифов</button>
      </td>
      <td>
        <button class="btn btn-link" routerLink="/offering/configuration">Конфигурация предложений</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<app-social></app-social>
<app-footer></app-footer>
