<app-navbar></app-navbar>

  <div class="container mt-5 mb-5">
  <div class="border-bottom">
    <h2 class="ml-3">Личные данные</h2>
  </div>
  <div class="row mt-4">
    <div class="col-3 font-weight-bold ml-3">Фамилия Имя</div>
    <div class="col-6">Иван Иванов</div>
  </div>
  <div class="row mt-4 mb-4">
    <div class="col-3 font-weight-bold ml-3">Email</div>
    <div class="col-6">someone@example.com</div>
  </div>
</div>

<div class="container mb-5">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">Мобильные тарифы</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">Домашний Интернет</a>
    </li>
  </ul>
  <div>
    <div class="border">
      <div class="row mt-4">
        <div class="col-3 font-weight-bold ml-3">Номер</div>
        <div class="col-6">+375 29 665-78-14</div>
      </div>
      <div class="row mt-4">
        <div class="col-3 font-weight-bold ml-3">Тариф</div>
        <div class="col-6">Тортик твою мать!</div>
      </div>
      <div class="row mt-4 mb-4">
        <div class="col-3 font-weight-bold ml-3">Баланс</div>
        <div class="col-6">104</div>
      </div>
    </div>
    <div class="border">
      <div class="row mt-4">
        <div class="col-3 font-weight-bold ml-3">Номер</div>
        <div class="col-6">+375 29 665-74-14</div>
      </div>
      <div class="row mt-4">
        <div class="col-3 font-weight-bold ml-3">Тариф</div>
        <div class="col-6">Делу время - потехе ЩАС!</div>
      </div>
      <div class="row mt-4 mb-4">
        <div class="col-3 font-weight-bold ml-3">Баланс</div>
        <div class="col-6">0</div>
      </div>
    </div>
  </div>

  <div hidden >
    <div class="border">
      <div class="row mt-4">
        <div class="col-3 font-weight-bold ml-3">Номер договора</div>
        <div class="col-6">№134122879</div>
      </div>
      <div class="row mt-4">
        <div class="col-3 font-weight-bold ml-3">Тариф Интернет</div>
        <div class="col-6">Котики! Кекс! Цезарь-Ролл!</div>
      </div>
      <div class="row mt-4">
        <div class="col-3 font-weight-bold ml-3">Скорость</div>
        <div class="col-6">100/50 Мбит/сек</div>
      </div>
      <div class="row mt-4 mb-4">
        <div class="col-3 font-weight-bold ml-3">Баланс</div>
        <div class="col-6">110</div>
      </div>
    </div>
  </div>
</div>

<!--social networks-->
<section class="py-5 bg-image-full" style="background-image: url('/assets/img/info-back.jpg');">
  <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
  <div>
    <div class="container">
      <div class="container d-flex row justify-content-between mr-0 pr-0">
        <p>Подпишитесь на уведомления</p>
        <p>Мы с соц. сетях</p>
      </div>
      <form class="form-inline">
        <div class="form-group mb-2">
          <label for="inputEmail" class="sr-only">Password</label>
          <input type="text" class="form-control" id="inputEmail" placeholder="Введите свой email">
        </div>
        <button type="submit" class="btn btn-main mb-2 ml-3">Подписаться</button>
        <div class="container col-7 justify-content-end d-flex mr-0 pr-0">
          <a href="#"><img src="/assets/img/vk-logo.png" class="logos mr-3" alt="VK"></a>
          <a href="#"><img src="/assets/img/insta-logo.png" class="logos mr-3" alt="Inst"></a>
          <a href="#"><img src="/assets/img/facebook-logo.png" class="logos mr-3" alt="FB"></a>
          <a href="#"><img src="/assets/img/telegram-logo.png" class="logos mr-3" alt="TG"></a>
          <a href="#"><img src="/assets/img/linkedin-logo.png" class="logos" alt="LI"></a>
        </div>
      </form>
    </div>
  </div>
</section>

<app-footer></app-footer>
