<app-navbar></app-navbar>

  <div class="container mt-5 mb-5">
  <div class="border-bottom">
    <h2 class="ml-3">Личные данные</h2>
  </div>
  <div class="row mt-4">
    <div class="col-3 font-weight-bold ml-3">Фамилия Имя</div>
    <div class="col-6">Иван Иванов</div>
  </div>
  <div class="row mt-4 mb-4">
    <div class="col-3 font-weight-bold ml-3">Email</div>
    <div class="col-6">someone@example.com</div>
  </div>
</div>

<div class="container mb-5">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">Мобильные тарифы</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">Домашний Интернет</a>
    </li>
  </ul>
  <div>
    <div class="border" *ngFor="let service of mobileServices">
      <div class="row mt-4">
        <div class="col-3 font-weight-bold ml-3">Номер</div>
        <div class="col-6">{{service.phoneNumber.honeNumber}}</div>
      </div>
      <div class="row mt-4">
        <div class="col-3 font-weight-bold ml-3">Тариф</div>
        <div class="col-6">{{service.offer.name}}</div>
      </div>
      <div class="row mt-4">
        <div class="col-3 font-weight-bold ml-3">Баланс</div>
        <div class="col-6 row">
          <p class="ml-3">{{service.service.balance.value}} р.</p>
          <a href="#" class="ml-3"
             data-toggle="modal" data-target="#modalPayment" (click)="onBalanceClick(service.service.balance)">Пополнить</a>
        </div>
      </div>
    </div>
  </div>

  <div hidden >
    <div class="border">
      <div class="row mt-4">
        <div class="col-3 font-weight-bold ml-3">Номер договора</div>
        <div class="col-6">№134122879</div>
      </div>
      <div class="row mt-4">
        <div class="col-3 font-weight-bold ml-3">Тариф Интернет</div>
        <div class="col-6">Котики! Кекс! Цезарь-Ролл!</div>
      </div>
      <div class="row mt-4">
        <div class="col-3 font-weight-bold ml-3">Скорость</div>
        <div class="col-6">100/50 Мбит/сек</div>
      </div>
      <div class="row mt-4 mb-4">
        <div class="col-3 font-weight-bold ml-3">Баланс</div>
        <div class="col-6">110</div>
      </div>
    </div>
  </div>
</div>

<!--Payment modal-->
<div class="modal fade" id="modalPayment" tabindex="-1" role="dialog" aria-labelledby="modalPaymentLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalPaymentLabel">Окно оплаты</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="form-group">
          <label>Полное имя (на карте)</label>
          <input type="text" name="username" placeholder="Ivan Ivanov" class="form-control" required>
        </div>
        <div class="form-row">
          <div class="form-group col-md">
            <label>Номер карты</label>
            <input type="text" name="cardNumber" placeholder="Ваш номер карты" class="form-control" required>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <div class="form-group">
              <label><span class="hidden-xs">Дата действительности</span></label>
              <div class="input-group">
                <input type="text" placeholder="MM" name="" class="form-control" maxlength="2" pattern="\d{2}"
                       required>
                <input type="text" placeholder="YY" name="" class="form-control" maxlength="2" pattern="\d{2}"
                       required>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group mb-4">
              <label>CVС
              </label>
              <input type="text" required class="form-control" maxlength="3" pattern="\d{3}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group mb-4">
              <label>Сумма</label>
              <input type="text" required class="form-control" [(ngModel)]="sum">
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-main" data-dismiss="modal" (click)="onPaid()">Оплатить</button>
      </div>

    </div>
  </div>
</div>

<app-social></app-social>

<app-footer></app-footer>
