<app-navbar></app-navbar>

  <div class="container mt-5 mb-5">
  <div class="border-bottom">
    <h2 class="ml-3">Личные данные</h2>
  </div>
  <div class="row mt-4">
    <div class="col-3 font-weight-bold ml-3">Фамилия Имя</div>
    <div class="col-6">Иван Иванов</div>
  </div>
  <div class="row mt-4 mb-4">
    <div class="col-3 font-weight-bold ml-3">Email</div>
    <div class="col-6">someone@example.com</div>
  </div>
</div>

<div class="container mb-5">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">Мобильные тарифы</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">Домашний Интернет</a>
    </li>
  </ul>
  <div>
    <div class="border" *ngFor="let service of mobileServices">
      <div class="row mt-4">
        <div class="col-3 font-weight-bold ml-3">Номер</div>
        <div class="col-6">{{service.phoneNumber.honeNumber}}</div>
      </div>
      <div class="row mt-4">
        <div class="col-3 font-weight-bold ml-3">Тариф</div>
        <div class="col-6">{{service.offer.name}}</div>
      </div>
      <div class="row mt-4">
        <div class="col-3 font-weight-bold ml-3">Баланс</div>
        <div class="col-6 row">
          <p class="ml-3">{{service.service.balance.value}} р.</p>
          <a href="#" class="ml-3">Пополнить</a>
        </div>
      </div>
    </div>
  </div>

  <div hidden >
    <div class="border">
      <div class="row mt-4">
        <div class="col-3 font-weight-bold ml-3">Номер договора</div>
        <div class="col-6">№134122879</div>
      </div>
      <div class="row mt-4">
        <div class="col-3 font-weight-bold ml-3">Тариф Интернет</div>
        <div class="col-6">Котики! Кекс! Цезарь-Ролл!</div>
      </div>
      <div class="row mt-4">
        <div class="col-3 font-weight-bold ml-3">Скорость</div>
        <div class="col-6">100/50 Мбит/сек</div>
      </div>
      <div class="row mt-4 mb-4">
        <div class="col-3 font-weight-bold ml-3">Баланс</div>
        <div class="col-6">110</div>
      </div>
    </div>
  </div>
</div>

<app-social></app-social>

<app-footer></app-footer>
