<app-navbar></app-navbar>
<!--carousel-->
<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/img/carousel-1.jpg" class="d-block w-100 carousel-img" alt="...">
        <div class="carousel-caption d-none d-md-block text-left">
          <h1>Тарифы</h1>
          <p class="carousel-text">Подключайтесь по новым тарифам Telenova</p>
          <p><a class="btn btn-lg btn-main" href="#" role="button">Подробнее &raquo;</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/assets/img/carousel-2.jpg" class="d-block w-100 carousel-img" alt="...">
        <div class="carousel-caption d-none d-md-block mb-2">
          <h3>Домашний интернет</h3>
          <p class="carousel-text">Подключайте безлимытный интернет к себе домой</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/assets/img/carousel-3.jpg" class="d-block w-100 carousel-img" alt="...">
        <div class="carousel-caption d-none d-md-block text-left">
          <h3>Роумин</h3>
          <p class="carousel-text">Роуминг по самым выгодным ценам для всей семьи</p>
          <p><a class="btn btn-lg btn-main" href="#" role="button">Подробнее &raquo;</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--icons section-->
<section class="features-icons bg-light text-center">
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
          <img src="/assets/img/phone.svg" alt="Phone" class="icon-img">
          <h3>Мобильная связь</h3>
          <p class="lead mb-0">Telenova позволяет совершать звонки внутри и вне сети по выгодным тарифам</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
          <img src="/assets/img/internet.svg" alt="Internet" class="icon-img">
          <h3>Домашний интернет</h3>
          <p class="lead mb-0">Подлючайте высокоскоростной безлимитный интернет</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mx-auto mb-0 mb-lg-3">
          <img src="/assets/img/support.svg" alt="Support" class="icon-img">
          <h3>Поддержка</h3>
          <p class="lead mb-0">Если у вас возникнут вопросы - напишите нашей тех поддержке</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--page content-->
<div class="container mt-4">

  <div class="container-fluid pl-0 mb-3 border-bottom">
    <h1>Новые тарифы</h1>
  </div>
  <div class="row">
    <div class="col-md-4 mb-5">
      <app-card></app-card>
    </div>
    <div class="col-md-4 mb-5">
      <app-card></app-card>
    </div>
    <div class="col-md-4 mb-5">
      <app-card></app-card>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 mb-5">
      <h2>Что мы делаем?</h2>
      <hr>
      <p>Компания Telenova предоставляет на территории Беларуси услуги мобильной связи стандарта 4G. Абонентам доступен полный набор базовых услуг, а также дополнительные сервисы.
        Также Telenova является одним из крупнейших в Беларуси частным оператором фиксированного интернет-доступа, предоставляя абонентам высокоскоростной доступ в интернет на основе собственной оптоволоконной сети по технологиям Ethernet и GPON.</p>
      <a class="btn btn-main btn-lg" href="#">Фирменные магазины &raquo;</a>
    </div>
  </div>
  <!-- /.row -->
</div>

<!--social networks-->
<section class="py-5 bg-image-full" style="background-image: url('/assets/img/info-back.jpg');">
  <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
  <div>
    <div class="container">
      <div class="container d-flex row justify-content-between mr-0 pr-0">
        <p>Подпишитесь на уведомления</p>
        <p>Мы с соц. сетях</p>
      </div>
      <form class="form-inline">
        <div class="form-group mb-2">
          <label for="inputEmail" class="sr-only">Password</label>
          <input type="text" class="form-control" id="inputEmail" placeholder="Введите свой email">
        </div>
        <button type="submit" class="btn btn-main mb-2 ml-3">Подписаться</button>
        <div class="container col-7 justify-content-end d-flex mr-0 pr-0">
          <a href="#"><img src="/assets/img/vk-logo.png" class="logos mr-3" alt="VK"></a>
          <a href="#"><img src="/assets/img/insta-logo.png" class="logos mr-3" alt="Inst"></a>
          <a href="#"><img src="/assets/img/facebook-logo.png" class="logos mr-3" alt="FB"></a>
          <a href="#"><img src="/assets/img/telegram-logo.png" class="logos mr-3" alt="TG"></a>
          <a href="#"><img src="/assets/img/linkedin-logo.png" class="logos" alt="LI"></a>
        </div>
      </form>
    </div>
  </div>
</section>

<app-footer></app-footer>
