<app-navbar></app-navbar>

<div class="container-fluid pl-0 pr-0 row">
  <img src="/assets/img/bg_signup_desk.png" alt="" class="col">
  <form class="mt-5 pt-5 mb-5 col">
    <div class="form-row justify-content-center">
      <div class="form-group" [ngSwitch]="roleId">
        <h2 *ngSwitchCase="2">Регистрация Администратора</h2>
        <h2 *ngSwitchCase="3">Регистрация Работника</h2>
        <h2 *ngSwitchCase="4">Регистрация</h2>
      </div>
    </div>

    <div class="form-row justify-content-center">
      <div class="form-group col-4">
        <label>Имя</label>
        <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="Имя">
      </div>
      <div class="form-group col-4">
        <label>Фамилия</label>
        <input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Фамилия">
      </div>
    </div>

    <div class="form-row justify-content-center">
      <div class="form-group col-4">
        <label for="loginReg">Логин</label>
        <input type="text" name="login" id="loginReg" class="form-control input-sm" placeholder="Логин">
      </div>
      <div class="form-group col-4">
        <label>Email</label>
        <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email">
      </div>
    </div>

    <div class="form-row justify-content-center">
      <div class="form-group col-4">
        <label for="passwordReg">Пароль</label>
        <input type="password" name="password" id="passwordReg" class="form-control input-sm" placeholder="Пароль">
      </div>
      <div class="form-group col-4">
        <label>Подтвердить пароль</label>
        <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Подтверить пароль">
      </div>
    </div>
    <div class="form-row justify-content-center">
      <div class="form-group col-8">
        <hr>
      </div>
    </div>
    <div class="form-row justify-content-center">
      <div class="from-group col-8 ">
        <button class="btn btn-main col-6">Регистрация</button>
      </div>
    </div>

  </form>
</div>

<!--social networks-->
<section class="py-5 bg-image-full" style="background-image: url('/assets/img/info-back.jpg');">
  <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
  <div>
    <div class="container">
      <div class="container d-flex row justify-content-between mr-0 pr-0">
        <p>Подпишитесь на уведомления</p>
        <p>Мы с соц. сетях</p>
      </div>
      <form class="form-inline">
        <div class="form-group mb-2">
          <label for="inputEmail" class="sr-only">Password</label>
          <input type="text" class="form-control" id="inputEmail" placeholder="Введите свой email">
        </div>
        <button type="submit" class="btn btn-main mb-2 ml-3">Подписаться</button>
        <div class="container col-7 justify-content-end d-flex mr-0 pr-0">
          <a href="#"><img src="/assets/img/vk-logo.png" class="logos mr-3" alt="VK"></a>
          <a href="#"><img src="/assets/img/insta-logo.png" class="logos mr-3" alt="Inst"></a>
          <a href="#"><img src="/assets/img/facebook-logo.png" class="logos mr-3" alt="FB"></a>
          <a href="#"><img src="/assets/img/telegram-logo.png" class="logos mr-3" alt="TG"></a>
          <a href="#"><img src="/assets/img/linkedin-logo.png" class="logos" alt="LI"></a>
        </div>
      </form>
    </div>
  </div>
</section>
<app-footer></app-footer>
