<div class="card sales-card">
  <div class="card-body">
    <small class="form-text text-muted mb-2">Тариф</small>
    <h4 class="card-title">{{mobileTariff.offer.name}}</h4>
    <ul class="tariff">
      <li class="mt-4">
        <b>{{mobileTariff.mobileInternet.value}}&nbsp;</b>
        <b>{{mobileTariff.mobileInternet.valueMeasure.measurement}}</b>
        интернета
      </li>
      <li class="mt-4"><b>Безлимит</b> внутри сети</li>
      <li class="mt-4"><b>120 минут</b> в другие сети</li>
    </ul>
  </div>
  <div class="card-footer bg-main text-white">{{mobileTariff.offer.description}}</div>
  <div class="card-body">
    <p class="price-text mt-2 mb-2"><b>{{mobileTariff.offer.price}} руб./мес.</b> абонентская плата</p>
  </div>
  <div class="card-footer bg-white justify-content-center d-flex pt-2 pb-2">
    <button class="btn btn-outline-main card-button" routerLink="/tariff">Подробнее</button>
  </div>
</div>
