<!--social networks-->
<section class="py-5 bg-image-full" style="background-image: url('/assets/img/info-back.jpg');">
  <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
  <div>
    <div class="container">
      <div class="container d-flex row justify-content-between mr-0 pr-0">
        <p>Подпишитесь на уведомления</p>
        <p>Мы с соц. сетях</p>
      </div>
      <form class="form-inline">
        <div class="form-group mb-2">
          <label for="inputEmail" class="sr-only">Password</label>
          <input type="text" class="form-control" id="inputEmail" placeholder="Введите свой email">
        </div>
        <button type="submit" class="btn btn-main mb-2 ml-3">Подписаться</button>
        <div class="container col-7 justify-content-end d-flex mr-0 pr-0">
          <a href="#"><img src="/assets/img/vk-logo.png" class="logos mr-3" alt="VK"></a>
          <a href="#"><img src="/assets/img/insta-logo.png" class="logos mr-3" alt="Inst"></a>
          <a href="#"><img src="/assets/img/facebook-logo.png" class="logos mr-3" alt="FB"></a>
          <a href="#"><img src="/assets/img/telegram-logo.png" class="logos mr-3" alt="TG"></a>
          <a href="#"><img src="/assets/img/linkedin-logo.png" class="logos" alt="LI"></a>
        </div>
      </form>
    </div>
  </div>
</section>
