<app-navbar></app-navbar>

<div class="container-fluid mt-3">
  <h4>Интернет тарифы</h4>
</div>
<div class="container-fluid row mt-3 justify-content-center">
  <div class="col-12 row">
    <table class="table table-bordered col" *ngFor="let offer of offers">
      <thead class="thead-dark">
      <tr>
        <th scope="col">{{offer.offer.name}}</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>до {{offer.internetSpeed.value}} {{offer.internetSpeed.valueMeasure.measurement}}</td>
      </tr>
      <tr>
        <td>
          <ul>
            <li>{{offer.internetEquipment1.value}}</li>
            <li>{{offer.internetEquipment2.value}}</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <ul>
            <li>{{offer.internetSoft1.value}}</li>
            <li>{{offer.internetSoft2.value}}</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>{{offer.offer.price}} руб./мес.</td>
      </tr>
      <tr *ngIf="auth.user != null && auth.user.role.id == 4">
        <td>
          <button class="btn-main btn col-6" (click)="onBuy(offer.offer.id)">Купить</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="container-fluid justify-content-center d-flex" *ngIf="auth.user == null">
    <h4>Вы должны быть зарегестрированы, чтобы подключить тариф!</h4>
  </div>
</div>

<app-social></app-social>
<app-footer></app-footer>

