<app-navbar></app-navbar>

<div class="container-fluid mt-3">
  <h4>Интернет тарифы</h4>
</div>
<div class="container-fluid row mt-3 justify-content-center">
  <div class="col-12">
    <table class="table table-bordered">

      <thead class="thead-dark">
      <tr>
        <th scope="col">Тариф 100</th>
        <th scope="col">Тариф 75</th>
        <th scope="col">Тариф 50</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <td>Dr.Web</td>
        <td>Dr.Web</td>
        <td>Dr.Web</td>
      </tr>
      <tr>
        <td>Radio</td>
        <td>Radio</td>
        <td>Radio</td>
      </tr>
      <tr>
        <td>100$</td>
        <td>75$</td>
        <td>50$</td>
      </tr>
      <tr>
        <td>
          <button class="btn-main btn col-6" routerLink="/internet/submit">Купить</button>
        </td>
        <td>
          <button class="btn-main btn col-6">Купить</button>
        </td>
        <td>
          <button class="btn-main btn col-6">Купить</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<app-social></app-social>
<app-footer></app-footer>

