<footer class="mt-3 mb-3  d-flex justify-content-center">
  <div class="container row">
    <div class="col-6 col-md">
      <h5>Навигация</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Домашняя страница</a></li>
        <li><a class="text-muted" href="#">Тарифы</a></li>
        <li><a class="text-muted" href="#">Домашний интернет</a></li>
        <li><a class="text-muted" href="#">Фирменные магазины</a></li>
        <li><a class="text-muted" href="#">Поддержка</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Контакты</h5>
      <address>
        <p>Минск, Беларусь</p>
        <p>Сухаревская, 27, 220019</p>
      </address>
      <address>
        <abbr title="Телефон">Тел.:</abbr>
        (8029) 336-20-23
        <br>
        <abbr title="Email">E:</abbr>
        <a href="mailto:#">anton.bulakhoff@example.com</a>
      </address>
    </div>
  </div>
</footer>
<footer class="bg-dark">
  <div class="container-fluid d-flex justify-content-center">
    <span class="text-muted">Copyright &copy; Anton Bulakhov 2019</span>
  </div>
</footer>
