<app-navbar></app-navbar>

<div class="container-fluid mt-3">
  <h4>Активные заявки</h4>
  <h4>Новые заявки пользователей</h4>
</div>

<div class="container-fluid">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Тариф</th>
      <th scope="col">Характеристики</th>
      <th scope="col">Цена</th>
      <th scope="col">Статус</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let service of services, let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{service.offer.offer.name}}</td>
      <td>
        <ul>
          <li>
            <p class="d-inline">{{service.offer.internetSpeed.value}}&nbsp;</p>
            <p class="d-inline">{{service.offer.internetSpeed.valueMeasure.measurement}}</p>
          </li>
          <li>
            <p>{{service.offer.internetEquipment1.value}}</p>
          </li>
          <li>
            <p>{{service.offer.internetEquipment2.value}}</p>
          </li>
          <li>
            <p>{{service.offer.internetSoft1.value}}</p>
          </li>
          <li>
            <p>{{service.offer.internetSoft2.value}}</p>
          </li>
        </ul>
      </td>
      <td>{{service.offer.offer.price}} руб./мес.</td>
      <td [ngSwitch]="service.service.serviceStatus.id">
        <p *ngSwitchCase="1">Новая</p>
        <p *ngSwitchCase="2">Подтверждена</p>
        <p *ngSwitchCase="3">Оплачена</p>
      </td>
      <td>
        <button class="btn btn-main" data-toggle="modal" data-target="#modalPayment">Оплатить</button>
        <button class="btn btn-main">Подтвердить</button>
      </td>
      <td>
        <a href="">Отменить</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!--Payment modal-->
<div class="modal fade" id="modalPayment" tabindex="-1" role="dialog" aria-labelledby="modalPaymentLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalPaymentLabel">Окно оплаты</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="form-group">
          <label>Полное имя (на карте)</label>
          <input type="text" name="username" placeholder="Ivan Ivanov" class="form-control" required>
        </div>
        <div class="form-row">
          <div class="form-group col-md">
            <label>Номер карты</label>
            <input type="text" name="cardNumber" placeholder="Ваш номер карты" class="form-control" required>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <div class="form-group">
              <label><span class="hidden-xs">Дата действительности</span></label>
              <div class="input-group">
                <input type="text" placeholder="MM" name="" class="form-control" maxlength="2" pattern="\d{2}"
                       required>
                <input type="text" placeholder="YY" name="" class="form-control" maxlength="2" pattern="\d{2}"
                       required>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group mb-4">
              <label>CVС
              </label>
              <input type="text" required class="form-control" maxlength="3" pattern="\d{3}">
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-main">Оплатить</button>
      </div>

    </div>
  </div>
</div>

<app-social></app-social>
<app-footer></app-footer>
