<app-navbar></app-navbar>

<div class="container-fluid mt-3">
  <h4>Активные заявки</h4>
</div>

<div class="container-fluid">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Тариф</th>
      <th scope="col">Характеристики</th>
      <th scope="col">Цена</th>
      <th scope="col">Статус</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Название тарифа</td>
      <td>
        <ul>
          <li>Характеристика 1</li>
          <li>Характеристика 2</li>
          <li>Характеристика 3</li>
        </ul>
      </td>
      <td>23р./мес.</td>
      <td>Новая</td>
      <td>
        <a href="">Отменить</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<app-social></app-social>
<app-footer></app-footer>
